body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-grey {
  background-color: #eee;
}

.block {
  padding: 1rem;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  box-shadow: 0 0.2rem 0.4rem #0003;
  border-radius: 0.5rem;
  background-color: #fff;
}
